<html>

<head>
</head>

<body>
    <form method="POST" action="home/">
        <h2>Login Info</h2>
        <input name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit">
    </form>
    <form method="POST" action="signup/">
        <h2>Create User</h2>
        <input name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit">
    </form>
</body>

</html>